= content_tag(:li, bookmark, class: 'ind-bookmark', id: "bookmark-#{bookmark.id}") do
  .bookmark-frame
    .bookmark-inner-frame
      %h4= link_to "#{bookmark.description}", "#{bookmark.url}", target: "_blank"