= content_tag(:li, topic, class: 'ind-topic', id: "topic-#{topic.id}") do
  .topic-container
    .bookmark-controls
      = link_to "", edit_topic_path(topic), id: "edit_topic", class: "fi-pencil", "data-reveal-id" => "modal#{topic.id}"
      = link_to "", [topic], id: "delete_topic", class: "fi-trash", method: :delete
    .topic-link
      %h5= topic.linked_title_with_count
      .author-row
        .author-details
          %small= topic.creation_date
    .reveal-modal{id: "modal#{topic.id}", "aria-hidden" => "true", "aria-labelledby" => "modalTitle", "data-reveal" => ""}
      = render partial: 'topics/edit', locals: { topic: topic }