<% if @topic.valid? %>
  <% if URI(request.referer).path == user_path(current_user) %>
    $("#topic-<%= @topic.id %>").html("<%= escape_javascript(render partial: 'topics/user_topics' )%>");
  <% else %>
    $('#topic-container').html("<%= escape_javascript(render partial: 'topic_with_links') %>");
  <% end %>
  $("#modal<%= @topic.id %>").foundation('reveal', 'close');
<% else %>
  $("#modal<%= @topic.id %>").prepend("<div class='alert-box round alert'> <%= flash[:error] %> </div>");
<% end %>