.content-container
  .row.main-content
    .user-header
      %h1= "#{user.full_name}'s Profile"
    .row.main-content
      %h3= "Topics (#{user.topic_count})"
      .large-10.large-centered.columns#topics
        %ul.small-block-grid-2.medium-block-grid-4#topic-list
          = render partial: 'topics/user_topics', collection: @topics, as: :topic
      .small-12.small-centered.columns#topic-pagination
        = paginate @topics, remote: true
    .row.main-content
      %h3= "Favorites (#{user.like_count})"
      .large-10.large-centered.columns#favorites
        %ul.small-block-grid-2.medium-block-grid-4#favorite-list
          = render partial: 'bookmarks/user_liked_bookmarks', collection: @likes, as: :like
        .small-12.small-centered.columns#like-pagination
          = paginate @likes, remote: true
    .row.main-content
      %h3= "Bookmarks (#{user.bookmarks.count})"
      .large-10.large-centered.columns#bookmarks
        %ul.small-block-grid-2.medium-block-grid-4#bookmark-list
          = render partial: 'bookmarks/user_bookmarks', collection: @bookmarks, as: :bookmark
        .small-12.small-centered.columns#bookmark-pagination
          = paginate @bookmarks, remote: true
