!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Blocmarks"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.background-image
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            = link_to "Blocmarks", root_path, id: "title_link"
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span MENUE??
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          - if user_signed_in?
            %li.has-dropdown
              = link_to current_user.first_name.titleize, "#" 
              %ul.dropdown
                %li
                  = link_to "My Profile", user_path(current_user), id: "my_profile"
                %li
                  = link_to "User Settings", edit_user_registration_path, id: "edit_user"
                %li
                  = link_to "Sign Out", destroy_user_session_path, id: "sign_out", method: :delete
          - else
            %li
              = link_to "Sign Up", new_user_registration_path, id: "sign_up"
            %li
              = link_to "Sign In", new_user_session_path, id: "sign_in"
        / Left Nav Section
        %ul.left
          %li
            = link_to "Browse Topics", topics_path, id: "browse_topics"    
    - flash.each do |name, msg|
      - unless controller_name == 'topics'
        - if msg.is_a?(String)
          %div{:class => "alert-box round #{name == :notice ? "alert" : "success"}", "data-alert" => ""}
            = content_tag :div, msg
            %a.close{:href => ""} x
    = yield