!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Blocmarks"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.background-image
    .off-canvas-wrap{"data-offcanvas" => ""}
      .inner-wrap
        %nav.tab-bar
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon{:href => "#"}
              %span
          %section.middle.tab-bar-section
            %h1.title= link_to "Blocmarks", root_path, id: "title_link"
          %section.right-small
            %a.right-off-canvas-toggle.menu-icon{:href => "#"}
              %span
        = render partial: 'layouts/nav_page_links'
        = render partial: 'layouts/nav_user_links'
        %section.main-section
          = render partial: 'layouts/flash_messages'
          = yield
    %a.exit-off-canvas    
    
